<!--
http://codepen.io/hakimel/pen/aIhkf
-->
<polymer-element name="spinner-spiral" noscript>
	<template>
		<link href="./spinner-spiral.css" rel="stylesheet" />
		<div class="spinner"><div class="wrapper"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div></div>
	</template>
</polymer-element>